/* line 4, ../sass/index.scss */
article .thumbnail { margin-bottom: 10px; }
/* line 8, ../sass/index.scss */
article .topic { color: #62bbc3; }
/* line 12, ../sass/index.scss */
article .time { margin-left: 6px; color: #bbb; }
/* line 17, ../sass/index.scss */
article .title { color: #444; transition: all 0.8s ease; }
/* line 22, ../sass/index.scss */
article .content { color: #aaa; font-size: 16px; line-height: 1.6em; overflow: hidden; }
/* line 29, ../sass/index.scss */
article .noborder { background-color: #fff; }
/* line 32, ../sass/index.scss */
article .noborder img { -moz-transition: all 0.62s; -o-transition: all 0.62s; -webkit-transition: all 0.62s; transition: all 0.62s; }
/* line 36, ../sass/index.scss */
article .noborder .image-content { height: auto; width: 100%; position: absolute; top: 0; left: 0; }
/* line 43, ../sass/index.scss */
article .noborder .image-content p, article .noborder .image-content h3 { text-align: center; color: #333; }
/* line 48, ../sass/index.scss */
article .noborder .image-content h3 { padding-top: 48px; margin: 0; font-size: 32px; -moz-transition: all 0.62s; -o-transition: all 0.62s; -webkit-transition: all 0.62s; transition: all 0.62s; }
/* line 55, ../sass/index.scss */
article .noborder .image-content p { font-size: 18px; opacity: 0; -moz-transform: translateY(-20px); -ms-transform: translateY(-20px); -webkit-transform: translateY(-20px); transform: translateY(-20px); -moz-transition: all 0.62s; -o-transition: all 0.62s; -webkit-transition: all 0.62s; transition: all 0.62s; }
/* line 66, ../sass/index.scss */
article:hover .noborder h3 { -moz-transform: translateY(-20px); -ms-transform: translateY(-20px); -webkit-transform: translateY(-20px); transform: translateY(-20px); }
/* line 70, ../sass/index.scss */
article:hover .noborder p { opacity: 1; -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
/* line 75, ../sass/index.scss */
article:hover .noborder img { -moz-transform: scale3d(1.05, 1.05, 1); -ms-transform: scale3d(1.05, 1.05, 1); -webkit-transform: scale3d(1.05, 1.05, 1); transform: scale3d(1.05, 1.05, 1); }

/*right begin*/
/* line 84, ../sass/index.scss */
.right { padding: 1%; margin: 0; }
/* line 88, ../sass/index.scss */
.right h3 { padding-left: 16px; }
/* line 93, ../sass/index.scss */
.right .col-md-6 img { width: 100%; }

/* line 99, ../sass/index.scss */
.link { height: 3.8em; background: #62bbc3 none repeat scroll 0 0; padding-top: 0.72em; }
/* line 104, ../sass/index.scss */
.link p { font-size: 1.6em; color: #fff; }

/*right end*/
@media screen and (max-width: 1000px) { /* line 112, ../sass/index.scss */
  article { width: 95%; margin: 12px 2.5% 0 2.5%; padding-top: 8px; border: 1px solid #eee; border-radius: 5px; }
  /* line 120, ../sass/index.scss */
  footer { height: 7.2em; background: #33363b none repeat scroll 0 0; color: #aaa; padding-top: 2.12em; }
  /* line 127, ../sass/index.scss */
  .content { font-size: 14px; line-height: 1.4em; }
  /* line 132, ../sass/index.scss */
  .noborder { border: 0; }
  /*right begin*/
  /* line 137, ../sass/index.scss */
  .right { padding: 0; padding-top: 2em; }
  /* line 142, ../sass/index.scss */
  .right .col-md-6 .thumbnail { width: 48%; float: left; margin-left: 1%; margin-right: 1%; }
  /* line 151, ../sass/index.scss */
  .link { margin-bottom: 1.2em; }
  /*right end*/ }
