/* line 2, ../sass/index.scss */
article .thumbnail {
  margin-bottom: 10px;
}
/* line 6, ../sass/index.scss */
article .topic {
  color: #62bbc3;
}
/* line 10, ../sass/index.scss */
article .time {
  margin-left: 6px;
  color: #bbb;
}
/* line 15, ../sass/index.scss */
article .title {
  color: #444;
  transition: all 0.8s ease;
}
/* line 20, ../sass/index.scss */
article .content {
  color: #aaa;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
}
/* line 27, ../sass/index.scss */
article .noborder {
  transition: all 0.8s ease;
}

/* line 33, ../sass/index.scss */
article:hover .noborder {
  opacity: 0.6;
}
/* line 37, ../sass/index.scss */
article:hover .title {
  color: #62bbc3;
}

/*right begin*/
/* line 45, ../sass/index.scss */
.right {
  padding: 1%;
  margin: 0;
}
/* line 49, ../sass/index.scss */
.right h3 {
  padding-left: 16px;
}
/* line 54, ../sass/index.scss */
.right .col-md-6 img {
  width: 100%;
}

/* line 60, ../sass/index.scss */
.link {
  height: 3.8em;
  background: #62bbc3 none repeat scroll 0 0;
  padding-top: 0.72em;
}
/* line 65, ../sass/index.scss */
.link p {
  font-size: 1.6em;
  color: #fff;
}

/*right end*/
@media screen and (max-width: 1000px) {
  /* line 73, ../sass/index.scss */
  article {
    width: 95%;
    margin: 12px 2.5% 0 2.5%;
    padding-top: 8px;
    border: 1px solid #eee;
    border-radius: 5px;
  }

  /* line 81, ../sass/index.scss */
  footer {
    height: 7.2em;
    background: #33363b none repeat scroll 0 0;
    color: #aaa;
    padding-top: 2.12em;
  }

  /* line 88, ../sass/index.scss */
  .content {
    font-size: 14px;
    line-height: 1.4em;
  }

  /* line 93, ../sass/index.scss */
  .noborder {
    border: 0;
  }

  /*right begin*/
  /* line 99, ../sass/index.scss */
  .right {
    padding: 0;
    padding-top: 2em;
  }
  /* line 104, ../sass/index.scss */
  .right .col-md-6 .thumbnail {
    width: 48%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }

  /* line 113, ../sass/index.scss */
  .link {
    margin-bottom: 1.2em;
  }

  /*right end*/
}
