section{
	.title{
		font-size: 2.2em;
		margin-bottom: 0.36em;
		color: #555;
	}

	.time{
		font-size: 1.12em;
		margin-bottom: 1.2em;
		letter-spacing:1px;
	}

	.main{
		p{
			font-size: 1.32em;
			line-height: 2em;
			text-indent:2em;
			font-family: inherit;
			letter-spacing:1px;
		}

		h1,h2,h3,h3,h5,h6,p{
			margin-top: 1.2em;
			text-transform:capitalize;
		}

		h2{
			span{
				background-color:#62bbc3;
				color:#fff;
				padding:3px;
				border-radius:3px;
			}
		}

		h3{
			span{
				background-color:#aaa;
				color:#fff;
				padding:3px;
				border-radius:3px;
			}
		}

		pre{
			line-height:1.36em;
			font-size:1.2em;
		}
	}

	.thumbnail{
		border: 0;
	}

	.top{
		padding-top: 0;

		p{
			margin-top: 0;
		}
	}

	.col-md-8>.row{
		padding-left: 3.6%;
		padding-right: 3.6%;
	}

	.left-border{
		border-left: 6px solid #bbb;
		padding-left:2.12%; 
	}

	.text-list{
		border-left: 6px solid #bbb;
		padding-left:2.12%;
	}
}

@media screen and	(max-width:987px){
	.main{
		h2{
			font-size:1.5em;
		}

		h3{
			font-size:1.36em;
		}

		p{
			font-size: 1em;
			line-height: 2em;
			text-indent:2em;
			font-family: inherit;
			letter-spacing:1px;
			word-break:break-all;
		}
	}
}